/* moniter-cont box 11  */

#moniter-cont {
  width: 90%;
  margin: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  font-family: "Graphik Web", Helvetica, sans-serif;
  background-color: #7856ff;
  flex-direction: column;
  border: 1px solid blue;
}

#moniter-cont > h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  color: #ffffff;
  margin: 0 450px;
}
#moniter-cont p {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin: 30px 450px;
}
#moniter-cont label {
  background: white;
  height: 20px;
  width: 130px;
  padding: 20px;
  color: rgba(25, 0, 255, 0.733);
  font-size: large;
  font-weight: 600;
  text-align: center;
  border-radius: 2px;
  margin: 0 600px;
}
